* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px 0px;
}

#instructions {
    align-self: flex-start;
    margin-left: 20px;
}

#game {
    width: 100%;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#gameControls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

#difficulty {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#gameCanvas {
    width: 70%;
    margin: 0 auto;
    display: block;
    border: 3px solid black;
    box-sizing: border-box;
}

.fsModal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    width: 50%;
    height: 50%;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameOver {
    font-size: 2em;
    margin-bottom: 20px;
}

.controlButton {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}